// .car-list {
//     list-style: none;
//     display: flex;
//     flex-wrap: wrap;
//     li {
//         background-color: $clr2;
//         color: $clr6;
//         padding: 5px;
//         margin: 5px;
//     }
//     a {
//         color: $clr1;
//         padding: 10px;
//     }    
//     h3 {
//         background-color: #ddd;
//         padding: 10px 5px;
//         margin: 5px;
//     }    
// }


.home-page-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr .5fr 3fr 1fr .5fr;
    grid-template-rows: 2fr 10fr  ;
    

}
// .grey-bgc{
//     background-color: gray;
// }
.side-bar{
    width:100%;
    height: 100vh;
    grid-row: 1/-1;
    border-right: 1px solid rgb(243, 237, 237);
    // position: fixed;
    top: 0;
    // overflow-y: hidden;
    
}
.sticky{
    position: fixed;
}
.side-bar-logo{
    margin-top: 2em;
    margin-inline-start: 1em;
    font-size: 22px;
    line-height: 18px;
    margin-bottom: 48px;
}
.navbar-btn{
    display: flex;
    align-items: center;
    width: 90%;
    height: 50px;
    margin-inline-start: 12px;
    padding: 20px;
    background-color: #ffffff;
    border: none;
    text-align: start;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
.navbar-btn:hover{
    transition: .3s;
    cursor: pointer;
    background-color: rgb(241, 237, 237);
    border-radius: 5px;
}
.navbar-btn img{
    margin-inline-end: 10px;
}
.post-list{
    grid-column:3/4 ;
    grid-row: 2/-1;
}
.suggest-followers{
    grid-column: 4/5;
    grid-row: 1/-1;
    margin-top: 10vh;
}